# Firebase Web App Config (from Firebase Console > Project Settings > Web App)
VITE_FIREBASE_API_KEY=firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=tracker-e6bc3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tracker-e6bc3
VITE_FIREBASE_STORAGE_BUCKET=tracker-e6bc3.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1081704264145
VITE_FIREBASE_APP_ID=1:1081704264145:web:4777b9d7d57c7e45e6f0f0
VITE_GROQ_API_KEY=API_KEY_HERE
# Backend API URL
VITE_API_URL=http://localhost:5000/api
